<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Users</title>
</head>

<body>
	<h1>Users</h1>

	<div th:if="${#lists.size(users) == 1}">
		<form action="" method="post">
			<div>
				Username: <input type="text" th:field="${user.username}" />
			</div>
			<div>
				Password: <input type="password" th:field="${user.password}" />
			</div>
			<div>
				Full Name: <input type="text" th:field="${user.name}" />
			</div>
			<div>
				<input type="submit" value="Update User Account" />
			</div>

		</form>
		<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
			<input type="submit" value="Delete User Account" />
		</form>
		<hr />

		<hr />
	</div>
	<div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
		<div th:object="${user}">
			<span><a th:href="@{/users/{userId}(userId =*{userId})}" th:text="*{userId}"></a></span><br />
			<span th:text="*{username}"></span><br />
			<span th:text="*{name}"></span><br />
			<span th:text="*{password}"></span>
			<div th:each="account, iterStat : *{accounts}">
				<a th:href=" @{/users/{userId}/accounts/{accountId}(userId=*{userId},
			accountId=${account.accountId})}" style="font-size: 19px;">[[${account.accountName}]]</a>
			</div>

			<hr />
		</div>
	</div>

</body>

</html>