<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Users</title>
</head>

<body>
	<div th:if="${#lists.size(users) > 1}">
		<h1>Users</h1>
	</div>
	<div th:if="${#lists.size(users) == 1}">
		<h1>User</h1>
		<form th:action="@{/users/{userId}(userId=${user.userId})}" method="post">

			<div>
				Username: <input type="text" th:field="${user.username}" />
			</div>
			<div>
				Password: <input type="password" th:field="${user.password}" />
			</div>
			<div>
				Full Name: <input type="text" th:field="${user.name}" />
			</div>

			<hr />
			<div th:object="${user.address}">
				<div>
					Address Line 1: <input type="text" th:field="*{addressLine1}" />
				</div>
				<div>
					Address Line 2: <input type="text" th:field="*{addressLine2}" />
				</div>
				<div>
					City <input type="text" th:field="*{city}" />
				</div>
				<div>
					Region: <input type="text" th:field="*{region}" />
				</div>
				<div>
					Country: <input type="text" th:field="*{country}" />
				</div>
				<div>
					Zip Code: <input type="text" th:field="*{zipCode}" />
				</div>
				<input type="hidden" th:field="*{userId}" th:value="${user.userId}" />


			</div>
			<div th:if="${user.address == null}">
				<h1>no address</h1>
			</div>

			<br />
			<div>
				<input type="submit" value="Update User Account" />
			</div>

		</form>
		<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
			<input type="submit" value="Delete User Account" />
		</form>
		<br />
		<hr />
		<h2>Accounts</h2>
		<div th:each="account, iterStat : ${user.accounts}">
			<a th:href=" @{/users/{userId}/accounts/{accountId}(userId=${user.userId},
			accountId=${account.accountId})}" style="font-size: 19px;">[[${account.accountName}]]</a>
		</div>
		<br />
		<form
			th:action="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${new_account_number})}"
			method="get">
			<button type="submit">Create New Bank Account</button>
		</form>
		<br />
		<span><a th:href="@{/users}" th:text="Back"></a></span><br />
	</div>
	<div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">

		<div th:object="${user}">
			<span><a th:href="@{/users/{userId}(userId =*{userId})}" th:text="*{userId}"></a></span><br />
			<span th:text="*{username}"></span><br />
			<span th:text="*{name}"></span><br />
			<span th:text="*{password}"></span>
			<div th:each="account, iterStat : *{accounts}">
				<a th:href=" @{/users/{userId}/accounts/{accountId}(userId=*{userId},
			accountId=${account.accountId})}" style="font-size: 19px;">[[${account.accountName}]]</a>
			</div>

			<hr />
		</div>
	</div>

</body>

</html>